@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active::after {
    content: "";
    margin-left: 25%;
    display: block;
    width: 70%;
    border-bottom: 1px solid white;
}
html.light a.active::after {
    border-bottom: 1px solid black;
}

a.home.active:hover::after {
    border-bottom-color: #F59E0B;
}
a.cities.active:hover::after {
    border-bottom-color: #EC4899;
}