@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.cdnfonts.com/css/lemon-tuesday");
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active::after {
  content: "";
  margin-left: 25%;
  display: block;
  width: 70%;
  border-bottom: 1px solid white;
}
html.light a.active::after {
  border-bottom: 1px solid black;
}
a.home.active:hover::after,
a.cities.active:hover::after {
  border-bottom-color: #ef4444;
}

@layer utilities {
  .animation-delay-100 {
    animation-delay: 0.1s;
  }
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-300 {
    animation-delay: 0.3s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
  .animation-delay-500 {
    animation-delay: 0.5s;
  }
  .animation-delay-600 {
    animation-delay: 0.6s;
  }
  .animation-delay-700 {
    animation-delay: 0.7s;
  }
  .animation-delay-800 {
    animation-delay: 0.8s;
  }
  .animation-delay-900 {
    animation-delay: 0.9s;
  }
}

@media (min-width: 768px) {
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f3f4f6;
  }
  html.dark ::-webkit-scrollbar-track {
    background: #111827;
  }
  html.dark .comments ::-webkit-scrollbar-track {
    background: #1f2937;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 10px;
  }
}
